#sidebar-content {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 18%;
  height: 100%;
  z-index: 99999;
  background: #83AF9B;
  font-size: 12px;
  overflow: scroll;
  padding: 1%;
}

#toggle-button {
  content: "-";
  position: fixed;
  top: 8%;
  left: 18%;
  width: 4%;
  z-index: 99999;
  font-size: 20px;
  color: #83AF9B;
}

.custom-restricted-width {
  /* To limit the menu width to the content of the menu: */
  display: inline-block;
}

#sidebar-title {
  color: #ECE5CE;
  weight: 700;
  margin-bottom: 15px;
  font-size: 16px;
  padding: 5px 10px;
}

.update-heading {
  color: #18402E;
}

.update-content {
  color: #376C54;
}
