#sidebar-content {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 20%;
  height: 100%;
  z-index: 99999;
  background: #191818;
  font-size: 16px;
  overflow: scroll;
}

#toggle-button {
  content: "-";
  position: fixed;
  top: 8%;
  left: 18%;
  z-index: 99999;
  font-size: 20px;
}

#sidebar-content span {
  color: #FFF;
  margin: 7px;
}

.custom-restricted-width {
  /* To limit the menu width to the content of the menu: */
  display: inline-block;
}
