rules:
  indent:
    - 2
    - 2
  quotes:
    - 2
    - single
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - always
  one-var:
    - 2
globals:
  chrome: true,
  Features: true,
  Sidebar: true,
  EscribaHelper: true,
  DocUploader: true,
  ProcessStore: true,
  Parser: true,
  UpdateHandler: true,
  Popup: true
env:
  browser: true
extends: 'eslint:recommended'
